@model MvcMovie.Models.Reviews
@{
    ViewData["Title"] = "Create";
}
<h3>Review of "@ViewData["mTitle"]"</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" data-val="true" data-val-required="The MovieID field is required." id="MovieID" name="MovieID" value="@ViewData["mID"]" />
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review" class="control-label"></label>
                <textarea asp-for="Review" class="form-control"></textarea>
                <span asp-validation-for="Review" class="text-danger"></span>
            </div>
            <input value="@(ViewContext.RouteData.Values["parameterName"])" id="MovieID" type="hidden" />
            <div class="form-group">
                <input class="btn btn-success" type="submit" value="Create"  asp-controller="Movies" asp-action="Details" asp-route-id="@ViewData["mID"]"/>
                <a class="btn btn-default" asp-controller="Movies" asp-action="Details" asp-route-id="@ViewData["mID"]">Cancel</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
